-- MySQL dump 10.13  Distrib 5.7.19, for Win64 (x86_64)
--
-- Host: localhost    Database: myfoodweb
-- ------------------------------------------------------
-- Server version	5.7.19-log

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `admins`
--

DROP TABLE IF EXISTS `admins`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `admins` (
  `Id` int(100) NOT NULL AUTO_INCREMENT,
  `Name` varchar(50) NOT NULL,
  `Username` varchar(50) NOT NULL,
  `Password` varchar(20) NOT NULL,
  `Email` varchar(20) NOT NULL,
  `Phone` varchar(15) NOT NULL,
  PRIMARY KEY (`Id`)
) ENGINE=MyISAM AUTO_INCREMENT=2 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admins`
--

LOCK TABLES `admins` WRITE;
/*!40000 ALTER TABLE `admins` DISABLE KEYS */;
INSERT INTO `admins` VALUES (1,'Pranav Gupta','saiyan','ifucku','pranavsupersaiyan10@','9906902048');
/*!40000 ALTER TABLE `admins` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `avtars`
--

DROP TABLE IF EXISTS `avtars`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `avtars` (
  `name` varchar(20) DEFAULT NULL,
  `path` varchar(500) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `avtars`
--

LOCK TABLES `avtars` WRITE;
/*!40000 ALTER TABLE `avtars` DISABLE KEYS */;
/*!40000 ALTER TABLE `avtars` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cart`
--

DROP TABLE IF EXISTS `cart`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cart` (
  `Name` varchar(20) DEFAULT NULL,
  `Email` varchar(40) DEFAULT NULL,
  `Mobile` varchar(20) DEFAULT NULL,
  `Item` varchar(50) DEFAULT NULL,
  `Quantity` varchar(10) DEFAULT NULL,
  `Price` int(11) DEFAULT NULL,
  `Category` varchar(20) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cart`
--

LOCK TABLES `cart` WRITE;
/*!40000 ALTER TABLE `cart` DISABLE KEYS */;
INSERT INTO `cart` VALUES ('null','null','null','null','Full',0,'null'),('Pranav Gupta','pranavsupersaiyan10@gmail.com','9906902048','CHICKEN MOMO STEAM','Half',30,'MOMOS'),('Pranav Gupta','pranavsupersaiyan10@gmail.com','9906902048','CHICKEN MOMO STEAM','Half',30,'MOMOS');
/*!40000 ALTER TABLE `cart` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `menu`
--

DROP TABLE IF EXISTS `menu`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `menu` (
  `Category` varchar(100) DEFAULT NULL,
  `Item` varchar(100) NOT NULL,
  `HalfPrice` int(11) DEFAULT NULL,
  `FullPrice` int(11) DEFAULT NULL,
  `Image` varchar(300) DEFAULT NULL,
  PRIMARY KEY (`Item`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `menu`
--

LOCK TABLES `menu` WRITE;
/*!40000 ALTER TABLE `menu` DISABLE KEYS */;
/*!40000 ALTER TABLE `menu` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `orderlist`
--

DROP TABLE IF EXISTS `orderlist`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `orderlist` (
  `ID` int(11) NOT NULL AUTO_INCREMENT,
  `Fname` varchar(50) NOT NULL,
  `Description` varchar(1000) NOT NULL,
  `Price` varchar(10) NOT NULL,
  `Accept` int(11) NOT NULL,
  `Cooked` int(11) NOT NULL,
  `Delivered` int(11) NOT NULL,
  `Decline` int(11) NOT NULL,
  `Date` varchar(40) NOT NULL,
  `Time` varchar(40) NOT NULL,
  `Email` varchar(50) NOT NULL,
  `txnid` varchar(20) NOT NULL,
  `pay` int(2) NOT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=MyISAM AUTO_INCREMENT=10 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `orderlist`
--

LOCK TABLES `orderlist` WRITE;
/*!40000 ALTER TABLE `orderlist` DISABLE KEYS */;
/*!40000 ALTER TABLE `orderlist` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `shopstatus`
--

DROP TABLE IF EXISTS `shopstatus`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `shopstatus` (
  `Status` varchar(50) NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `shopstatus`
--

LOCK TABLES `shopstatus` WRITE;
/*!40000 ALTER TABLE `shopstatus` DISABLE KEYS */;
INSERT INTO `shopstatus` VALUES ('NO');
/*!40000 ALTER TABLE `shopstatus` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `untitled`
--

DROP TABLE IF EXISTS `untitled`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `untitled` (
  `Email` varchar(50) NOT NULL,
  `FirstName` varchar(10) NOT NULL,
  `LastName` varchar(10) NOT NULL,
  `Password` varchar(20) NOT NULL,
  `About` varchar(200) NOT NULL,
  `Gender` varchar(10) NOT NULL,
  `Interest` varchar(100) NOT NULL,
  `DOB` varchar(20) NOT NULL,
  `Mobile` varchar(20) NOT NULL,
  `State` varchar(50) NOT NULL,
  `Avtar` varchar(20) NOT NULL,
  `OTP` varchar(10) NOT NULL,
  `Success` int(2) NOT NULL,
  PRIMARY KEY (`Email`)
) ENGINE=MyISAM DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `untitled`
--

LOCK TABLES `untitled` WRITE;
/*!40000 ALTER TABLE `untitled` DISABLE KEYS */;
INSERT INTO `untitled` VALUES ('pranavsupersaiyan10@gmail.com','Pranav','Gupta','ifucku247','Em a developer','Male','Spanish French ','1997-11-27','9906902048','JammuandKashmir','banana','AYF8ON8Y',1),('kalaapoorva@gmail.com','Apoorva','jain','Apoo12345@_','I m very cute','Female','Spanish French French ','2017-11-08','09872518207','Rajasthan','default','H8C2CFFN',1);
/*!40000 ALTER TABLE `untitled` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2018-06-06 13:04:42
